// Place all the styles related to the api/decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// deck index styles

.master-deck-index {
    display: flex;
    position: relative;
    top: 75px;
    width: 100%;
}

.create-deck-link {
    display: flex;
    position: relative;
    background-color: #3D91AF;
    opacity: 0.65;
    top: 100px;
    left: 50px;
    height: 100px;
    width: 300px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
}
.create-deck-link:hover {
    opacity: 0.5;
}

.deck-index-cont {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 420px;
}

.deck-index-cont {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

.deck-list {
    height: 85%;
    overflow-y: auto;    
}
.deck-list::-webkit-scrollbar {
    display: none;
}

.deck-li-item {
    display: flex;
    background-color: #324054;
    opacity: 0.8;
    padding: 20px;
    color: white;
    margin: 5px;
    border-radius: 15px;
    border-style: inset;
    // border-color: black;
}

.deck-show-link {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-right: 1px solid white;
}

.deck-li-item:hover a {
    color: #42A5DD;
}

.deck-desc {
    padding-left: 10px;
}

//deck form styles

.deck-form-container {
    background-color: #324054;
    opacity: 0.85;
    display: flex;
    position: relative;
    top: 20%;
    margin: 0 auto;
    height: 425px;
    color: white;
    flex-direction: column;
    border-radius: 20px;
}

.deck-form-title {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.deck-input-name {
    display: flex;
    padding-top: 20px;
    padding-bottom: 7px;
    justify-content: center;
}

.deck-input-div {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.deck-input-box-n {
    border: 5px solid #626367; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    display: flex;
    width: 250px;
    height: 20px;
    font-size: 14px;
    background-color: #C9E9E7;
}

.deck-input-box-n:focus {
    outline: none;
}

.deck-input-box-d {
    border: 5px solid #626367; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    display: flex;
    width: 350px;
    height: 70px;
    font-size: 14px;
    background-color: #C9E9E7;
}

.deck-form-submit {
    display: flex;
    background: #3D91AF;
    color: #FEFDFB;
    width: 95px;
    height: 45px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 35px;
    border: hidden;
}
.deck-form-submit-div {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.deck-form-submit:focus {
    outline: none;
}

//Deck Show Page

.deck-show-master-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.deck-show-container {
    background-color: #324054;
    opacity: 0.85;
    display: flex;
    position: relative;
    top: 80px;
    margin: 0 auto;
    height: auto;
    width: 450px;
    color: white;
    flex-direction: column;
    border-radius: 20px;
}

.deck-show-title, .deck-show-desc {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.card-btn-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: 1rem;
    width: 80%;
}

.card-btn {
    display: flex;
    justify-content: center;
    // align-items: center;
    // margin: auto;

    // height: 35px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    background-color: #3D91AF;
    opacity: 0.65;
}

.card-btn:hover {
    opacity: 0.5;
}

.card-btn-container > button {
    padding: 1rem;
    border-radius: 10px;
}

.creator-btns-div {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.creator-btn, .creator-link {
    display: flex;
    justify-content: center;
    background: #3D91AF;
    color: #FEFDFB;
    width: 95px;
    height: 45px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 35px;
    border: hidden;
}

.creator-link {
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.extras {
    height: 50%;

}

.search-form {
    display: flex;
    position: relative;
    top: 130px;
    left: 50px;
}

.search-input {
    width: 100%;
    background-color: #C9E9E7;
    opacity: 0.65;
    font-size: 15px;
}

.search-input:focus {
    border: 2px solid #626367;
}

.search-btn {
    cursor: pointer;
    background-color: #3D91AF;
    color: white;
    opacity: 0.65;
    border-radius: 15px;
    margin-left: 15px;
    padding: 10px;
    font-size: 20px;
}

.search-btn:hover {
    opacity: 0.5;
}

.search-btn:focus {
    outline: none;
}

.deck-search-list {
    top: 150px;
    left: 50px;
    position: relative;
    background-color: #324054;
    opacity: 0.8;
    border-radius: 5px;
    padding-left: 15px;
}

.deck-search-link {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding-left: 10px;
}

.deck-search-link:hover {
    color: #42A5DD;
}

.clear-search {
    cursor: pointer;
    background-color: #3D91AF;
    color: white;
    opacity: 0.65;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 13px;

}

.deck-search-none {
    color: white;
    text-decoration: none;
    padding-top: 10px;
}