.my-name {
    color: white;
}

.footer {
  width: 100%;
  min-width: 700px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #6f7176;
  color: white;
  box-sizing: border-box;
  opacity: 0.75;
}

.footer > * {
    margin: 20px;
    color: white;
    text-decoration: none;
}

.footer > a:hover {
    text-decoration: underline;
    color: #7FC6D0;
}