/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Modal */

 .modal-background {
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.7);
     z-index: 10;
 }

 .modal-child {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: white;
     display: flex;
     border-radius: 25px;
 }

.change-form-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.other-form-container {
    margin-top: 25px;
    /* position: relative; */
    /* bottom: 5px; */
}

.oj-button {
    display: flex;
    justify-content: center;
    background: #EF8744;
    color: #FEFDFB;
    width: 95px;
    height: 45px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 35px;
}

.submit-container {
    display: flex;
    justify-content: space-between;
}

.oj-signup {
    display: flex;
    justify-content: center;
    background: #EF8744;
    color: #FEFDFB;
    width: 95px;
    height: 45px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 35px;
}

.oj-button:focus, .oj-signup:focus {
    outline: none
}

.signup-container {
    display: flex;
    justify-content: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    align-items: center;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 530px;
    align-items: center;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 50px;
    width: 70%;
}

.login-form-container > h2 {
    text-align: center;
    color: #2B7096;
    // font-family: sans-serif;
    height: fit-content;
    position: relative;
    padding-top: 20px;
}

.signup-form-container > h2 {
    text-align: center;
    color: #2B7096;
    // font-family: sans-serif;
    height: fit-content;
    position: relative;
    padding-top: 20px;
}

.close-x {
    background-color: transparent;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 25px;
    position: absolute;
    font-weight: lighter;
    cursor: pointer;
    right: 15px;
    top: 15px;
    border: none;
}
.close-x:hover {
    background: #E5E5E5;
}

.close-x:focus {
    outline: none
}

.login-input, .signup-input {
    height: 35px;
    font-size: 16px;
    border: none;
    border-bottom: 3px solid #eee;
    color: #2B7096;
    padding-top: 8px;
}
.login-input:focus {
    outline: none;
    border-bottom: 3px solid #197096;
}
.signup-input:focus {
    outline: none;
    border-bottom: 3px solid #197096;
}

.form-label {
    font-size: 13px;
    color: #AAAAAA;
}

/* Header items */

.splash-login {
    cursor: pointer;
    color: white;
}

.splash-login:hover, .splash-signup:hover {
    color: #449DBA;
}

.splash-signup {
    cursor: pointer;
    color: #EF8744;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(111, 113, 118);
    opacity: 0.8;
    height: 75px;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
header > h2 {
    color: white
}

.greeting-container {
    position: relative;
    display: inline-block;
}

.greeting-container > a {
    margin-right: 20px;
}

.dropdown-button {
    background-color: rgb(111, 113, 118);
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    padding: 10px;
} 

.dropdown-button:hover {
    color: #42A5DD;
    /* background-color: #f9f9f9; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #f1f1f1ad;
}

.greeting-container:hover .dropdown-content {
    display: block;
}

.master-div {
    display: flex;
    background: linear-gradient(to right, transparent, black), image_url('background.jpg');
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
    align-self: center;
}
.home-link:hover {
    color: #449DBA;
}

.icon {
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    height: 30px;
    width: 30px;
    margin-right: 15px;
    // border: 10px solid transparent;
    // padding-right: 15px;
    // border-image: url('brainscape-icon.png') 30 round;
}

.errors-div {
    display: flex;
    text-align: center;
}

.errors-ul {
    list-style-type: none;
    height: auto;
    width: auto;
    color: rgba(255, 0, 0, 0.721);
    align-items: center;
    padding: 0px;
}

.fa-sort-down {
    color: white
}

.splash-text-main {
    position: absolute;
    right: 20px;
    top: 200px;
    text-align: right;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    width: 600px;
}

.splash-text-title {
    padding-bottom: 60px
}

.splash-text-subtitle {
    padding-bottom: 40px;
}

.splash-text-sub {
    padding-bottom: 20px;
}